@font-face {
  font-family: "exo";
  src: url(./fonts/exo/Exo-Light.otf);
}
@font-face {
  font-family: "parata";
  src: url(./fonts/Prata/Prata-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins/Poppins-Light.ttf);
}
:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}
body {
  overflow-y:scroll;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: exo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* Entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar (horizontal) */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #303030; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners */
  border: 2px solid transparent; /* Padding around thumb */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 6px; /* Rounded corners for the track */
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}


.ver{
  color: green;
}
.notver{
  color: red;
  animation: shake 0.3s alternate forwards ease-in-out 2;
  text-decoration: underline;
}

.verBack{
  border: 1px solid green;
  outline:  1px solid green;
}
.notVerBack{
  border: 1px solid red;
  outline:  1px solid red;
}

.alertCustom{
  max-width: 300px;
  height: auto;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}